<%- include ("partials/header") %>

<h1>
  You are at the landing page of WalkerCamp! Its under construction right now.
</h1>

<a href="/campgrounds">View All Campgrounds</a>

 <%- include ("partials/footer") %>