.body {
  background-image: url();
}
.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.alert {
  font-size: small;
}

.navbar.navbar-inverse.navbar-brand {
  color: white;
}

.nav.navbar-nav li a{
  color: white;
}